{% load static %}

<body>

    <!-- top nav -->
    <nav class="navbar-expand-lg navbar-light  fixed-top first-nav">

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav full-nav">
                <li class="nav-item">
                    <a class="nav-link text-header" href="{% url 'home' %}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-header" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-header" href="{% url 'home' %}">Top Collections

                        <i class="uil uil-apps"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-header" href="{% url 'post_list' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-header" href="{% url 'contact' %}">Contact Us</a>
                </li>
              


                <li class="nav-item">
                    <a class="nav-link text-header">
                        <i class="fas fa-moon change-theme theme-button" id="theme-button"></i>

                    </a>
                </li>

            </ul>
        </div>
    </nav>
    <!-- end top nav -->

    <!-- nav section -->
    <nav class="navbar navbar-expand-md fixed-top sidebar-offcanvas overflow-auto ">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static '/img/icons/logo5.png' %}"  alt="">
        </a>

        <!-- nav opener -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-center toggler">
                <i class="fas fa-bars openbtn" onclick="openNav()"></i>
                <!-- <i class="fas fa-moon change-theme theme-button" id="theme-button"></i> -->
            </span>
        </button>
        <!-- end nav opener -->

        <!-- desktop nav -->
        {% include 'includes/category.html' %} 
        <!-- end desktop nav -->


        <!-- mobile nav -->
        {% include 'includes/mobile-category.html' %}
        
        
        <!-- end mobil nav -->


    </nav>
    <!-- end nav section -->