<title>Crypto-Ranker | Aave Review</title>
{% extends "components/Reviews/revExt.html" %}
{% load static %}

{% block content %}

    

    <!-- start wrapper -->
    <div class="mt-5 rounded-l-lg ">

        <!-- BEGIN CONTENT -->
        <div class="about-box ">
            <div class="content content--review ">
                <div class="container ">
                    <div class="content__wrap about-box text-header">
                        <div class="content__head">
                            <div class="content__head-inner">
                                <div class="content__head-left">
                                    <h2 class="content__head-title"><svg class="icon-svg icon-logo-small">

                                        </svg><span class="text-header">Aave Review</span></h2>
                                </div>
                            </div><!-- end .content__head-inner -->
                        </div><!-- end .content__head -->
                        <div class="content__holder">
                            <div class="review">
                                <div class="review__left">
                                    <div class="review__img"><img class="lazyload"
                                            src="{% static 'ReviewImages/AaveLogo.jpg '%}"
                                            style="object-fit: cover;" alt="Aave" title="Aave" />
                                    </div>
                                    <a href="https://aave.com/" rel="nofollow noopener noreferrer " data-name="" target="_blank"
                                        class="out-link inline-block w-full text-center items-center py-3 font-medium rounded-lg shadow-sm bg-indigo-800 text-white learn-more-btn">
                                        Visit Site
                                    </a>
                                </div><!-- end .review__left -->
                                <div class="review__right">
                                    <div class="review__head">
                                        <div class="review__head-left">
                                            <h3><a class="review__head-link review-headline__link"
                                                    href="https://aave.com/" rel="noopener" target="_blank"
                                                    ><span>
                                                        <h1 class="text-header  ">Aave</h1>

                                                    </span></a>
                                            </h3>
                                            <div id="link-rating-msg" style="display: none"></div>
                                        </div>
                                    </div><!-- end .review__head -->
                                    <div class="review__content">
                                        <div class="review__box">
                                            <p>One of the first things you would ask while learning about Aave is “what is Aave?” and the answer gives the perfect foundation to explore its fundamentals. It is a decentralized finance orDeFi  protocol that enables people to lend and borrow cryptocurrency without the involvement of any decentralized intermediaries. Users can earn interest when they lend on the platform and pay interest upon borrowing. </p>
                                            <p></p>
                                            <p>Based on the Ethereum blockchain, Aave is basically an open sourceDeFi  protocol featuring a system of smart contracts. The smart contracts support the management of all crypto assets by a distributed network of computers. Therefore, AAVE users don’t have to rely on a specific institution or individual for managing their funds. Users can trust only the fact that the code of the smart contracts will run as intended. </p>
                                            <p></p>

                                        </div>

                                        <div class="review__row">

                                            <div class="review__col">
                                                <div class="review__row">
                                                    <div class="review__col">
                                                        <div class="review__title">Pros</div>
                                                    </div>
                                                </div>
                                                <li class="review__list-item">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <span>Great range of inventive decentralized finance products.</span>
                                                </li>
                                                <li class="review__list-item">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <span>A wide range of cryptocurrencies to lend/borrow from.</span>
                                                </li>
                                                <li class="review__list-item">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <span>One of the most sophisticated forces in theDeFi  industry.</span>
                                                </li>
                                                <li class="review__list-item">
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                    <span>Instant and collateral-free Flash Loans.</span>
                                                </li>

                                            </div>

                                            <div class="review__col">
                                                <div class="review__row">
                                                    <div class="review__col">
                                                        <div class="review__title">Cons</div>
                                                    </div>
                                                </div>
                                                <li class="review__list-item">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                    <span>The platform is not beginner-friendly.</span>
                                                </li>
                                                <li class="review__list-item">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                    <span>It may not be attractive for potential investors.</span>
                                                </li>
                                                <li class="review__list-item">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                    <span>Less accessible than other forms of cryptocurrencies.</span>
                                                </li>

                                            </div>
                                        </div>
                                    </div><!-- end .review__content -->
                                </div><!-- end .review__right -->
                            </div>
                        </div><!-- end .content_holder -->
                    </div><!-- end .content__wrap -->
                </div><!-- end .container -->

            </div><!-- end .main -->
            <!-- END CONTENT -->

        </div><!-- end .wrapper -->






    </div>

{% endblock %}